a:hover{
	color: #139ee5;
}
article{
	background: #139ee5;
}
blockquote{
	border-left: 10px solid #139ee5;
}
.box-item:hover .arrow {
	border-top: 20px solid #139ee5;
}
.box-item:hover{
	background: #139ee5;
}
.box-item:hover .price span{
	color: #139ee5;
}
.box-item .price {
	background: #139ee5;
}
.btn {
	background: #139ee5;
	border-color: #139ee5;
}
.btn:hover{
	color: #139ee5;
}
.btn.btn-bordered:hover, .btn.btn-bordered.active {
	border-color: #139ee5;
	background: #139ee5;
}
.btn.btn-foot-news {
	background-color: #139ee5;
}
.btn.btn-foot-news:hover{
	color: #139ee5;
	border: 1px solid #139ee5;
}
.btn.btn-search {
	background-color: #139ee5;
}
.btn.btn-search:hover{
	color: #139ee5;
}
.btn.btn-sidebar, .btn.btn-more {
	background-color: #139ee5;
}
.btn.btn-sidebar, .btn.btn-more:hover {
	color: #139ee5;
}
.categories i {
	color: #139ee5;
}
.comments-item:hover{
	border: 1px solid #139ee5;
}
.comments-item:hover figure img{
	border: 1px solid #139ee5;
}
.comments-item:hover strong{
	color: #139ee5;
}
.comments-item .reply-link {
	color: #139ee5;
}
.contact address i {
	color: #139ee5;
}
.content-left {
	background: #139ee5;
}
.ct-date .date{
	background-color: #139ee5;
}
.domains-item i {
	background-color: #139ee5;
}
.domains-item span {
	background-color: #139ee5;
}
.features .features-item .icon i {
	color: #139ee5;
}
.footer-top address{
	color: #139ee5;
}
.form-control:focus {
	border-color: #139ee5;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(19,158,229,0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(19,158,229,0.6);
}
.form_domain .button{
	background-color: #139ee5;
}
.gallery-grid-item h5{
	background: #139ee5;
}
.gallery-grid-item .item-thumbnail .icons a:hover{
	color: #139ee5;
}
.image-hover figure i {
	border: 1px solid #139ee5;
	color: #139ee5;
}
.navbar-header a {
	background: url("../img/logo-blue.png") no-repeat center;
}
.navbar .navbar-nav .dropdown-menu>li.active>a,
.navbar .navbar-nav .dropdown-menu>li>a:hover {
	border-left-color: #139ee5;
}
.nav .caret {
	border-top-color: #139ee5;
	border-bottom-color: #139ee5;
}
.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus,
.navbar .navbar-nav li a:hover,
.navbar .navbar-nav li a:focus {
	border-top-color: #139ee5;
}
.navbar .navbar-nav li.active a {
	border-top-color: #139ee5;
}
.nav-tabs>li.active>a,
.nav-tabs>li>a:focus,
.nav-tabs>li>a:hover {
	color: #139ee5;
}
.news-one h6 a {
	color: #139ee5;
}
.news-one-item .carousel-indicators .active{
	background-color: #139ee5;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
	background-color: #139ee5;
}
.nav-pills.tabbed-pills a:hover{
	background-color: #139ee5;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls .owl-page:hover span {
	background: #139ee5;
}
.pagenation {
	color: #139ee5;
}
.pagination>li>a:hover, .pagination>li.active>a {
	border-color: #139ee5;
	color: #139ee5;
}
.patners .owl-theme .owl-controls .owl-prev:before {
	color: #139ee5;
}
.patners .owl-theme .owl-controls .owl-next:before {
	color: #139ee5;
}
.panel-group .panel-title>a:hover {
	color: #139ee5;
}
.panel-group .panel-title>a:hover i {
	color: #139ee5;
}
.panel-group .panel-title>a i {
	color: #139ee5;
}
.plan .price {
	background: #139ee5;
}
.plan ul li:last-child a {
	background: #139ee5;
}
.plan.active{
	background: #139ee5;
}
.plan:hover{
	background: #139ee5;
}
.pricing .pricing-item li:first-child {
	background: #139ee5;
}
.pricing .pricing-item li .btn {
	background-color: #139ee5;
}
.pricing .pricing-item li .btn:hover{
	border-color: #139ee5;
	color: #139ee5;
}
.pricing .pricing-item:before {
	background: #139ee5;
}
.program .nav-tabs li.active a {
	background-color: #139ee5;
}
.program .nav-tabs li.active a:after {
	border-color: #139ee5 transparent;
}
.popular li a:hover h6 {
	color: #139ee5;
}
.popular li a figure:before {
	background-color: rgba(19,158,229,0.8);
}
.scrollup i {
	color: #139ee5;
}
.search-dom h3 i{
	color: #139ee5;
}
.section-title:before {
	background-color: #139ee5;
}
.services .item .icon {
	background: #139ee5;
}
.services .item:hover .icon {
	color: #139ee5;
}
.simple-link span {
	color: #139ee5;
}
.small-arrow-list ul li i,
.tick-list ul li i,
.disc-list ul li i,
.arrow-list ul li i {
	color: #139ee5;
}
.tabbed-pills .active a:after, .nav-pills.tabbed-pills a:hover:after{
	border-left-color: #139ee5;
}
.tab-pane-body .text-title{
	color: #139ee5;
}
.testimonials p span{
	color: #139ee5;
}
.tooltip-inner{
	background: #139ee5;
}
.tooltip.top .tooltip-arrow {
	border-top-color: #139ee5;
}
.tooltip.right .tooltip-arrow {
	border-right-color: #139ee5;
}
.tooltip.left .tooltip-arrow {
	border-left-color: #139ee5;
}
.tooltip.bottom .tooltip-arrow {
	border-bottom-color: #139ee5;
}
.tp-caption.green_bold_bg_20 {
	background-color: #139ee5;
}
.tp-caption.black_heavy_60{
	color:#139ee5;
}
.tp-caption.black_bold_bg_20 i{
	color: #139ee5;
}
.web-host a i{
	color: #139ee5;
}
.widget-title:before {
	background-color: #139ee5;
}
#theme-options .layout-style li.active,
#theme-options .layout-style li.active a{
	background: #139ee5;
}
